body{background:#000;color:#999;font-family:Palatino;}
#buttongroup{position:fixed;bottom:10px;left:10px;z-index:10;}
#now{display:none;background-color:white;position:fixed;top:0px;bottom:0px;left:200px;width:1px;z-index:5;}
#scrollallow{position:absolute;width:125vw;top:25vh;height:50vh;}
#info{position:fixed;right:10px;bottom:10px;z-index:5;}
.note{position:absolute;opacity:0.5;z-index:1;}
.part0{background:#FF0000;color:#00FFFF;}
.part1{background:#007FFF;color:#FF8000;}
.part2{background:#FFFF00;color:#0000FF;}
.part3{background:#7F00FF;color:#80FF00;}
.part4{background:#00FF00;color:#FF00FF;}
.part5{background:#FF007F;color:#00FF80;}
.part6{background:#00FFFF;color:#FF0000;}
.part7{background:#FF7F00;color:#0080FF;}
.part8{background:#0000FF;color:#FFFF00;}
.part9{background:#7FFF00;color:#8000FF;}
.part10{background:#FF00FF;color:#00FF00;}
.part11{background:#00FF7F;color:#FF0080;}
.part12{background:#FFFFFF;color:#000000;}
.perc{width:5px !important;box-shadow:0px 0px 5px #FFF;}
.spu,.spd{width:0px;height:0px;border-style:solid;border-color:transparent;}
.spu{border-top-style:none;}
.spd{border-bottom-style:none;}
.sp0 .spu{border-bottom-color:#FF0000;}
.sp0 .spd{border-top-color:#FF0000;}
.sp1 .spu{border-bottom-color:#007FFF;}
.sp1 .spd{border-top-color:#007FFF;}
.sp2 .spu{border-bottom-color:#FFFF00;}
.sp2 .spd{border-top-color:#FFFF00;}
.sp3 .spu{border-bottom-color:#7F00FF;}
.sp3 .spd{border-top-color:#7F00FF;}
.sp4 .spu{border-bottom-color:#00FF00;}
.sp4 .spd{border-top-color:#00FF00;}
.sp5 .spu{border-bottom-color:#FF007F;}
.sp5 .spd{border-top-color:#FF007F;}
.sp6 .spu{border-bottom-color:#00FFFF;}
.sp6 .spd{border-top-color:#00FFFF;}
.sp7 .spu{border-bottom-color:#FF7F00;}
.sp7 .spd{border-top-color:#FF7F00;}
.sp8 .spu{border-bottom-color:#0000FF;}
.sp8 .spd{border-top-color:#0000FF;}
.sp9 .spu{border-bottom-color:#7FFF00;}
.sp9 .spd{border-top-color:#7FFF00;}
.sp10 .spu{border-bottom-color:#FF00FF;}
.sp10 .spd{border-top-color:#FF00FF;}
.sp11 .spu{border-bottom-color:#00FF7F;}
.sp11 .spd{border-top-color:#00FF7F;}
.sp12{margin-left:-6px;}
.sp12 div{border-width:0px 6px;}
.motif0{filter:drop-shadow(0px 0px 5px #FF0000);-webkit-filter:drop-shadow(0px 0px 5px #FF0000);}
.motif1{filter:drop-shadow(0px 0px 5px #007FFF);-webkit-filter:drop-shadow(0px 0px 5px #007FFF);}
.motif2{filter:drop-shadow(0px 0px 5px #FFFF00);-webkit-filter:drop-shadow(0px 0px 5px #FFFF00);}
.motif3{filter:drop-shadow(0px 0px 5px #7F00FF);-webkit-filter:drop-shadow(0px 0px 5px #7F00FF);}
.motif4{filter:drop-shadow(0px 0px 5px #00FF00);-webkit-filter:drop-shadow(0px 0px 5px #00FF00);}
.motif5{filter:drop-shadow(0px 0px 5px #FF007F);-webkit-filter:drop-shadow(0px 0px 5px #FF007F);}
.motif6{filter:drop-shadow(0px 0px 5px #00FFFF);-webkit-filter:drop-shadow(0px 0px 5px #00FFFF);}
.motif7{filter:drop-shadow(0px 0px 5px #FF7F00);-webkit-filter:drop-shadow(0px 0px 5px #FF7F00);}
.motif8{filter:drop-shadow(0px 0px 5px #0000FF);-webkit-filter:drop-shadow(0px 0px 5px #0000FF);}
.motif9{filter:drop-shadow(0px 0px 5px #7FFF00);-webkit-filter:drop-shadow(0px 0px 5px #7FFF00);}
.motif10{filter:drop-shadow(0px 0px 5px #FF00FF);-webkit-filter:drop-shadow(0px 0px 5px #FF00FF);}
.motif11{filter:drop-shadow(0px 0px 5px #00FF7F);-webkit-filter:drop-shadow(0px 0px 5px #00FF7F);}
.motif12{filter:drop-shadow(0px 0px 5px #FFFFFF);-webkit-filter:drop-shadow(0px 0px 5px #FFFFFF);}
.selected{box-shadow:0px 0px 25px #FFF;}
.flute{border-radius: 50% / 50%;}
.dReed{border-radius: 25% / 50%;}
.sReed{border-radius: 33% / 50%;}
